@import url('space-grotesk.css');

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root {

  /* Font */
  --heading: "SpaceGrotesk-Variable";

  /* Text colours */
  --text: rgb(30, 30, 30);
  --text-2: rgb(100, 100, 100);

  /* UI colours */
  --accent: rgb(255, 255, 255);
  --background: rgb(255, 229, 244);
  --border: rgb(0, 0, 0); 
}

/* Site Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 400;
  text-wrap: balance;
  overflow-wrap: break-word;
}

a {
  color: var(--text);
  &:hover {
    color: var(--text-2);
  }
}

code {
  background-color: var(--white);
}

/* Page Content */

.wrapper h1, h2, h3, h4, h5, h6 {
  margin-block: 2rem;
  &:has(+ p) {
    margin-top: 0;
  }
}

.wrapper > p {
  margin-block: 1lh;
  max-width: 70ch;
  &:first-of-type {
    margin-top: 0;
  }
}

.wrapper li {
  margin-block: 1lh;
}

/* Site Elements */

main {
  padding-inline: 1rem;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--background);
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin-inline: auto;
  padding-block: 3rem;
}

/* Header */

header {
  background-color: var(--accent);
  padding-inline: 1rem;
  padding-block: 1rem;
  border-bottom: 1px solid var(--border);
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin-inline: auto;
}

#logo {
  margin: 0;
}

#logo a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Navigation */

header ul {
  list-style: none;
  padding: 0;
}

header li {
  display: inline-block;
  margin-right: 1rem;
  &:last-of-type {
    margin-right: 0;
  }
}

header li a {
  font-family: var(--heading);
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}

/* Page info */

.article-meta {
  margin-bottom: 3rem;
  padding: 2rem;
  margin-inline: -2rem;
  background-color: var(--accent);
  border: 1px solid var(--border);
  transition: all 100ms;
}

.article-meta h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.article-meta p {
  font-family: var(--heading);
  color: var(--text-2);
}

/* Post */

.post {
  margin-bottom: 3rem;
  &:last-child {
    margin: 0;
  }
}

.post h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post p {
  color: var(--text-2);
}

/* 404 page */

.center {
  text-align: center;
}

/* Footer */

footer {
  border-top: 1px solid var(--border);
  padding: 2rem;
}

footer p {
  text-align: center;
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 56rem) {
  .article-meta {
    margin-inline: 0;
    text-align: center;
  }
}