@import url('space-grotesk.css');

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Define variables */

:root {
  /* Font */
  --heading: "SpaceGrotesk-Variable";

  /* Text colours */
  --text: rgb(30, 30, 30);
  --text-2: rgb(100, 100, 100);
  --white: rgb(255, 255, 255); 

  /* UI colours */
  --accent: rgb(0, 0, 0);
  --background: rgb(253, 219, 238);
  --bg-light: rgba(229, 229, 229, 0.5);
  --border: rgb(0, 0, 0); 
}

/* Site Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 400;
  text-wrap: balance;
  overflow-wrap: break-word;
}

a {
  color: var(--text);
  &:hover {
    color: var(--text-2);
  }
}

code {
  background-color: var(--white);
}

/* Page Content */

.wrapper h1, h2, h3, h4, h5, h6 {
  margin-block: 2rem;
  &:has(+ p) {
    margin-top: 0;
  }
}

.wrapper > p {
  margin-block: 1lh;
  max-width: 70ch;
  &:first-of-type {
    margin-top: 0;
  }
}

.wrapper li {
  margin-block: 1lh;
}

.wrapper > h2:has(+ img) {
  margin-bottom: 1lh;
}

/* Site Elements */

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--background);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 50rem;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1em;
}

.wrapper {
  margin-block: 3rem;
}

/* Header */

header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--header-border);
  background-color: var(--accent);
  text-align: center;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  height: 75px;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 1.5rem;
}

#logo {
  color: var(--white);
  text-decoration: none;
  transition: all 50ms;
  &:hover {
    font-weight: 900;
  }
}

/* Navigation */

.menu {
  padding-inline: 0;
}

.menu li {
  display: inline-block;
  margin-right: 1em;
  &:last-of-type {
    margin-right: 0;
  }
}

.menu a {
  font-family: var(--heading);
  color: var(--white);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

/* Mobile menu */

#menu-button {
  all: unset;
  display: none;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

#menu-button:hover {
  text-decoration: underline;
}

#mobile-menu {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 75px;
  width: 100%;
  text-align: right;
  height: calc(100svh - 76px);
  background-color: var(--accent);
  animation: slide 200ms ease-in-out both;
}

.mobile-nav {
  max-width: 80rem;
  margin-inline: auto;
  padding-right: 1rem;
  padding-top: 2rem;
  list-style-type: none;
}

.mobile-nav li {
  margin-bottom: 1.5rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.mobile-nav a {
  color: var(--white);
  font-family: var(--heading);
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
}

#silly {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* Page info */

.article-meta {
  padding-bottom: 3rem;
}

.article-meta h1 {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

/* Post */

.post {
  background-color: var(--accent);
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--border);
  &:last-child {
    margin: 0;
  }
}

.post h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post a {
  color: var(--white);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post p {
  color: var(--white);
}

/* Footer */

footer {
  border-top: 1px solid var(--border);
  padding: 1lh;
}

footer p {
  text-align: center;
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 40rem) {
  .menu {
    display: none;
  }

  #menu-button {
    display: block;
  }
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}