@font-face {
  font-family: 'SpaceGrotesk-Variable';
  src: url('../fonts/SpaceGrotesk-Variable.woff2') format('woff2'),
       url('../fonts/SpaceGrotesk-Variable.woff') format('woff'),
       url('../fonts/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Variable';
  src: url('../fonts/Inter-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root {
  /* Font */
  --heading: "SpaceGrotesk-Variable";

  /* Text colours */
  --text: rgb(30, 30, 30);
  --text-2: rgb(100, 100, 100);

  /* UI colours */
  --accent: rgb(255, 255, 255);
  --background: rgb(255, 229, 244);
  --border: rgb(0, 0, 0); 
}

@media (prefers-color-scheme: dark) {
  :root {
  /* Text colours */
  --text: rgb(225, 225, 225);
  --text-2: rgb(155, 155, 155);

  /* UI colours */
  --accent: rgb(0, 0, 0);
  --background: rgb(29, 29, 29);
  --border: rgb(255, 255, 255); 
}
}

/* Site Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 400;
  text-wrap: balance;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.3;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.4;
}


a {
  color: var(--text);
  &:hover {
    color: var(--text-2);
  }
}

code {
  user-select: all;
}

/* Page Content */

.wrapper h1, h2, h3, h4, h5, h6 {
  margin-block: 1.5lh;
}

.wrapper > p {
  margin-block: 1lh;
  max-width: 70ch;
  &:first-of-type {
    margin-top: 0;
  }
}

.wrapper img {
  margin-block: 1lh;
}

.wrapper li {
  margin-block: 1lh;
}

/* Site Elements */

main {
  padding-inline: 1rem;
}

body {
  font-size: 16px;
  font-family: "Inter-Variable", Arial, Helvetica, sans-serif;
  color: var(--text);
  background-color: var(--background);
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.about {
  text-align: center;
}

.about h1 {
  margin-top: 0;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin-inline: auto;
  padding-block: 3rem;
}

/* Header */

header {
  position: sticky;
  top: 0;
  background-color: var(--accent);
  padding-inline: 1rem;
  padding-block: 1rem;
  border-bottom: 1px solid var(--border);
  z-index: 10;  
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin-inline: auto;
}

#logo {
  margin: 0;
}

#logo a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Navigation */

header ul {
  list-style: none;
  padding: 0;
}

header li {
  display: inline-block;
  margin-right: 1rem;
  &:last-of-type {
    margin-right: 0;
  }
}

header li a {
  font-family: var(--heading);
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}

/* Page info */

.info {
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: var(--accent);
  border: 1px solid var(--border);
}

.info h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.info h2 {
  margin-bottom: 0;
}

.info p {
  font-family: var(--heading);
  color: var(--text-2);
}


/* Page Content */

.social h2 {
  margin-top: 0;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

.social a {
  aspect-ratio: 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  font-size: 1.3rem;
  font-family: var(--heading);
  text-decoration: none;
  border: 1px solid var(--border);
  &:hover {
    color: var(--accent);
    background-color: var(--border);
  }
}

#blog {
  animation: annoy 1s ease-in-out both alternate infinite;
}

@keyframes annoy {
  100% {
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 0 16px 0 var(--accent);
  }
}

@media (prefers-reduced-motion: reduce) {
  #blog {
    animation: none;
  }
}

/* Post */

.post {
  margin-bottom: 3rem;
  &:last-child {
    margin: 0;
  }
}

.post h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post p {
  color: var(--text-2);
}

/* 404 page */

.center {
  text-align: center;
}

/* Footer */

footer {
  border-top: 1px solid var(--border);
  padding: 3rem;
}

footer p {
  text-align: center;
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

/* Media Queries */

@media screen and (max-width: 40rem) {
  .social-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 30rem) {
  .social-grid {
    grid-template-columns: 1fr;
  }
}