<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta property="og:logo" content="https://brianflynn.org/icon-192x192.png">
    <link rel="shortcut icon" type="image/png" href="/icon-192x192.png">
    <link rel="shortcut icon" sizes="192x192" href="/icon-192x192.png">
    <link rel="apple-touch-icon" href="/icon-192x192.png">
    <link rel="me" href="https://mastodon.social/@wobblybrian">
    <meta property="og:url" content="https://wobblybrian.xyz/">
    <meta property="og:site_name" content="wobbly brian">
    <meta property="og:title" content="{{ .Title}}">
    <meta property="og:description" content="my website">
    <meta property="og:locale" content="en_ie">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://wobblybrian.xyz/og.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://wobblybrian.xyz/og.jpg">
    <meta name="twitter:title" content="{{ .Site.Title }} - {{ .Title }}">
  </head>